<%= render :partial => 'colibri/admin/shared/order_tabs', locals: { current: 'Payments' }%>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i>
  <%= I18n.t(:one, scope: "activerecord.models.colibri/payment") %>
  <i class="icon-arrow-right"></i>
  <%= Colibri.t(:log_entries) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Colibri.t(:logs), colibri.admin_order_payment_log_entries_url(@order, @payment), :icon => 'icon-archive' %></li>
  <li><%= button_link_to Colibri.t(:back_to_payment), colibri.admin_order_payment_url(@order, @payment), :icon => 'icon-arrow-left' %></li>
<% end %>

<table class='index' id='listing_log_entries'>
  <% @log_entries.each do |entry| %>
      <thead>
        <tr class="log_entry <%= entry.parsed_details.success? ? 'success' : 'fail' %>">
          <td colspan='2'>
            <h4><i class='icon icon-<%= entry.parsed_details.success? ? 'ok-circle' : 'remove-sign' %>'></i> <%= pretty_time(entry.created_at) %></h4>
          </td>
        </tr>
      </thead>
      <tbody>
        <%= render "colibri/admin/log_entries/#{@payment.payment_method.name.gsub(' ', '').underscore}", entry: entry %>
      </tbody>
  <% end %>
</table>
